:root{
  --maincolor: red;
  --bordercl:#9e86c8;
  --darkMaincolor: #50fa7b;
  }

  html {
    color: #0d1117;
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.6em;
  }
  body{
    color: white;
    background-color: #0d1117;
    display: block;
    margin: 8px;
  }

  ::selection {
    background: #b05279;
    color: #fff;
    text-shadow: none;
  }

  p {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5;
  }

  hr {
    border: 0;
    border-top: 1px dotted blue;
    margin: 1em 0;
  }

  blockquote {
    border-left: 1px solid var(--bordercl);
    color: #737373;
    border-color:  var(--darkMaincolor);
    margin: 0;
    padding-left: 1em;
  }

  a {
    border-bottom: 1px solid var(--darkMaincolor);
    color: inherit;
    text-decoration: none;
  }
  a:hover {
      background-color: var(--darkMaincolor);
      color: black;
  }

  ul {
    list-style: none;
    padding-left: 2ch;
  }
  ul li {
    text-indent: -2ch;
  }
  ul > li::before {
    content: '* ';
    font-weight: bold;
  }

/* Images */
  img {
    border: 1px solid #ececec;
    max-width: 100%;
  }

  figure {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    max-width: 100%;
  }

  figure img {
    max-height: 500px;
  }

  @media screen and (min-width: 600px) {
    figure {
      padding: 0 40px;
    }
  }

  figure h4 {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1em;
  }
  figure h4::before {
    content: '↳ ';
  }

  /* Code blocks */
  code {
    background-color: lightblue;
    color: black;
    text-decoration: bold;
    padding: .1em .2em;
  }

  pre {
    background-color: #272822;
    line-height: 1.4;
    overflow-x: auto;
    padding: 1em;
  }

  .highlight pre ::selection {
    background: rgba(255, 255, 255, 0.2);
    color: inherit;
  }

  pre code {
    background-color: transparent;
    color: inherit;
    font-size: 100%;
    padding: 0;
  }

  /* Containers */
  .content {
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 0 1ch;
    word-wrap: break-word;
  }

  /* Header */
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  header .main {
    font-size: 1.5rem;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #ddd;
    font-size: 1.2rem;
    margin-top: 2em;
  }

  h1::before { color: var(--darkMaincolor); content: '# '; }
  h2::before { color: var(--darkMaincolor); content: '## '; }
  h3::before { color: var(--darkMaincolor); content: '### '; }
  h4::before { color: var(--darkMaincolor); content: '#### '; }
  h5::before { color: var(--darkMaincolor); content: '##### '; }
  h6::before { color: var(--darkMaincolor); content: '###### '; }

  .meta {
    color: #ABABAB;
    letter-spacing: -0.5px;
  }

  /* Footer */
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px dashed var(--darkMaincolor);
    padding: 1rem 0rem;
    margin-top: 2rem;
  }
  .soc {
    border-bottom: none;
  }
  .border {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid;
  }
  .footer-info {
    padding: var(--footer-padding);
  }
  .footer-socials {
    float: right;
  }

  /* Common */
  .title h1 {
    margin-bottom: 0;
  }

  time {
    color: #ABABAB;
  }

  /* Posts */
  article .title {
    margin-bottom: 1em;
  }

  .site-description {
  display: flex;
  justify-content: space-between;
  }
  .site-description a {
    color: #ddd;
  }
  .site-description a:hover {
    color: black;
  }
  .site-title a {
    color: white;
    text-decoration: none !important;
  }

  .tags li::before{
    content: "🏷 ";
  }
  .tags a{
    border-bottom: 1px solid var(--darkMaincolor);
  }
  .tags a:hover{
    color:black;
    background-color: var(--darkMaincolor);
  }
  svg{
    max-height: 15px;
  }
  .soc:hover{
    color: white;
  }
  .draft-label{
      color: var(--darkMaincolor);
      background-color: blue;
      text-decoration: none;
      padding: 2px 4px;
      border-radius: 4px;
      margin-left: 6px;
  }
  .highlight {
    background-color: #333;
    position: relative;
    -webkit-overflow-scrolling: touch;
  }

  /* table */
  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  table th{
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
    font-size: large;
  }

  table td{
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }